<!-- <span class="login_heading">Forgot Password:</span> -->
<div class="body">
<p>Enter your registered Email and click on 'Confirm' to get a password-change request email.</p>
<p>A link will be sent to your email to reset you password.</p>


<form class="login_field" [formGroup]=form>
    <label for='email'>Email: </label>
    <input type="email" placeholder="email address" formControlName="email" id='email'>
    <br>
</form>
<br>
<input class="login_button" type="submit" value='Confirm' (click)=forgotPassword()>
<br>
<br>
<br>
<a class="query_link" routerLink="/home">Back</a>
</div>